<h1>{{ title | uppercase }}</h1>
<p>ejercicios works!</p>
<label for="">
  <input [(ngModel)]="personaInicial.nombre" type="text" name="">
</label>
<h2>id: {{personaInicial.id}} | nombre: {{personaInicial.nombre}}</h2>
<h2>fecha de nacimiento: {{personaInicial.fechaNacimiento}} </h2>
<h2>fecha de nacimiento con pipe fecha: {{personaInicial.fechaNacimiento | date: 'dd-MM-yyyy'}} </h2>
<br>
<hr>
<ul>
  <li *ngFor="let persona of personas" (click)="selectPersona(persona)" [class.selected]="persona === personaSeleccionada">
    <span><b>{{ persona.id }})</b></span> Nombre: <b>{{ persona.nombre }}</b>
  </li>
</ul>
<app-ejercicio-detalle [persona]="personaSeleccionada"></app-ejercicio-detalle>
